# Dependencies
node_modules/

# Env
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Sessions & credentials
LynxSession/
LynxJadiBot/
BackupSession/
creds.json
**/pre-key-*
qr.png

# Local databases and tmp
database/
db/
tmp/
/tmp/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
*.swp
